.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 120px;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.modalContent {
    padding: 45px 50px 42px;
    min-width: 400px;
    min-height: 500px;
    border-radius: 50px;
    background-color: white;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}